* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#input-el {
    padding: 10px;
    width: 100%;
    border: 1px solid #5f9341;
}  

#input-btn {
    background-color: #5f9341;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}